<h1 style="font-family:'Trebuchet MS', Helvetica, sans-serif;">Schedule Exercises</h1>

<hr >

<div id ="schedule">
  <% if @schedule.first != nil %>
  <h5> <%= Schedule.where(id:params[:id]).take.description %>  </h5>
  <br>
    <div class="container-fluid">
    <div class="row">
      <% @schedule.each do |x| %>
        <div class="card" style="width: 18rem; margin:0px;">
          <img class="card-img-top" src="<%= x.exercise.gifUrl %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> <%= x.exercise.name %> </h5>
            <p style='color: black' class="card-text"> <u>Equipment:</u> <%= x.exercise.equipment %>
            <br><u>Series:</u> <%= x.series %>x<%=x.rep %>
            <br><u>Recovery time:</u> <%= x.time%>sec </p>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <% else %>
    <p> La scheda non e' disponibile al momento </p>
  <% end %>
</div>

