<h1>ScheduleExercises SINGLE SCHEDULE#index</h1>

<hr >

<div id ="schedule">
  <% if @schedule.first != nil %>
  <h1> <%= User.where(id:(Schedule.where(id:params[:id]).take.pt_id)).take.firstname %>  </h1>
  <p> <%= Schedule.where(id:params[:id]).take.description %>  </p>
  <table border="1" cellpadding="10px" cellspacing="40px" align="center" width="90%" >
    <tbody>
      <% @schedule.each do |x| %>
        <tr>
          <td style="border: 1px solid"><b><%= x.exercise.bodyPart %></b></td>
          <td style="border: 1px solid"><b><%= x.exercise.equipment %></b></td>
          <td style="border: 1px solid"><b><%= x.exercise.gifUrl %></b></td>
          <td style="border: 1px solid"><b><%= x.exercise.name %></b></td>
          <td style="border: 1px solid"><b><%= x.exercise.target %></b></td>
        </tr>
      <% end %>
    </tbody>
  </table><br><br>
  <% else %>
    <p> La scheda non e' disponibile al momento </p>
  <% end %>
</div>

