<h1>Our Personal Trainers</h1>
<div class="PTlist"  >
    <h3 style="font-family:'Trebuchet MS', Helvetica, sans-serif;">OUR PERSONAL TRAINERS</h3>
    <br>
    <ul>
    <%  @personal_trainers.each do |personal_trainer|  %>
        <li>
            
            <% if personal_trainer.provider == 'google_oauth2' && personal_trainer.avatar_url %>
                <%= image_tag(personal_trainer.avatar_url) %>
            <% else %>
                <% if personal_trainer.avatar.attached? %>
                    <%= image_tag(personal_trainer.avatar_thumbnail) %> 
                <% else %>
                    <%= image_tag("/images/no_avatar.png") %> 
                <% end %>
            <% end %>
            
            <br>
            <%= personal_trainer.firstname %>
            <%= personal_trainer.lastname %>
            <% if can? :destroy, User %>
                <%= button_to "Remove", personal_trainer, data: { turbo_confirm: "Are you sure?" }, method: :delete, class:"button formButton" %>
            <% end %> 
        </li>
        <br>
        <br>
    <% end %>
    </ul>

</div>