<<<<<<< Updated upstream
<h1 style="font-family:'Trebuchet MS', Helvetica, sans-serif;">My Schedules</h1>
=======
<h1>My Schedules</h1>
>>>>>>> Stashed changes

<hr >

<div id ="schedules">
  <table border="1" cellpadding="10px" cellspacing="40px" align="center" width="90%" >
    <tbody>
      <% @schedules.each do |x| %>
<<<<<<< Updated upstream
        <% if current_user.admin || (x.user_id == current_user.id) || (x.pt_id == current_user.id) %>
          <tr>
            <td style="border: 1px solid"><%= User.where(id: x.pt_id).take.firstname+' '+User.where(id: x.pt_id).take.lastname %></td>
            <td style="border: 1px solid"><%= x.description %></td>
            <td style="border: 1px solid"><%= x.created_at %></td>
            <td style="border: 1px solid">
              <a href="/schedule_exercises/<%=x.id%>", class="button formButton">Show </a>
            </td>
            <td style="border: 1px solid">
              <%= button_to "Remove", @x, data: { turbo_confirm: "Are you sure?" }, method: :delete, class:"button" %>
            </td>
          </tr>
        <%end%>
=======
        <tr>
          <td style="border: 1px solid"><b><%= x.id %></b></td>
          <td style="border: 1px solid"><%= User.where(id: x.pt_id).take.firstname %></td>
          <td style="border: 1px solid"><%= x.description %></td>
          <td style="border: 1px solid"><%= x.created_at %></td>
          <td style="border: 1px solid">
            <a href="/schedule_exercises/<%=x.id%>">Show</a>
          </td>
        </tr>
>>>>>>> Stashed changes
      <% end %>
    </tbody>
  </table><br><br>
</div>

