<h1 style="font-family:'Trebuchet MS', Helvetica, sans-serif;">Make a new schedule!</h1>
    <style>
      .divExercise{
          border-radius: 25px;
         
          margin:20px;
          padding: 10px;
      }
      .addExercise{
        margin: auto;
        width: 50%;
        text-align:center;
        padding: 10px;
      }
      .col3{
        width: 33%;
        float: left;
        margin-top:5px;
        height: 30px;
      }
      .col2-master{
        margin-bottom:30px;
        padding-bottom:50px;
      }
      .col2min{
        width: 20%;
        float: left;
        text-align:center;
      }
      .addSchedule{
        margin-top:15px;
        width: 150px;
        text-align:center;
        height: 65px;
      }
      .col2max{
        width:80%;
        float: left;
      }
      .divIndex{
        float: left;
        color: black;
        width: 5%;
      }
      .divIndex > h2{
        color: #f44336;
        margin: 0px;
        padding-left: 20px;
      }
      .form-select:focus{
        outline: none;
      }
      .divField{
        float: left;
        width: 95%;
        text-align: center;
      }
      .divExercise:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
    <script type='text/javascript'>
        function addExercise(){
            var exercises_number = document.getElementById("exercises_number");
            var number = parseInt(exercises_number.value);
            // Get the element where the inputs will be added to
            var container = document.getElementById("container");
            var divExercise = document.createElement("div");
            divExercise.classList.add("divExercise");
            // label  node with number of exercise 
            
            var divIndex = document.createElement("div");
            divIndex.classList.add("divIndex");
            var labelExerciseN = document.createElement("h2");
            var text = document.createTextNode( "" + (number+1));
            labelExerciseN.appendChild(text);
            divIndex.appendChild(labelExerciseN);

            var divField = document.createElement("div");
            divField.classList.add("divField");
            var div = document.createElement("div");
            var select = document.createElement("select");
            select.name = "exercise" + number;
            select.id = "exercise" + number;
            <% @exercises.each do |exercise| %>
                var option = document.createElement("option");
                option.value = "<%= exercise.id %>";
                option.text = "<%= exercise.name %>";
                select.add(option);
            <% end %>
            select.classList.add("form-select");
            div.appendChild(select);
            var reps = document.createElement("input");
            reps.id = "reps_exercise_" + number;
            reps.type = "number";
            reps.placeholder = "Reps";
            reps.name = "reps_exercise_" + number;
            var time = document.createElement("input");
            time.id = "time_exercise_" + number;
            time.type = "number";
            time.name = "time_exercise_" + number;
            time.placeholder = "Recovery Time";
            var series = document.createElement("input");
            series.id = "series_exercise_" + number;
            series.type = "number";
            series.name = "series_exercise_" + number;
            series.placeholder = "Series";

            //time icon ->  'clock-o'
            //series icon ->  'repeat'
            //reps icon ->  'certificate'

            //REPS DIV
            var REPS_DIV = document.createElement("div");
            var repsDiv = document.createElement("div");
            var repsIcon = document.createElement("div");

            reps.classList.add("form-control");
            repsIcon.classList.add("input-group-prepend");
            repsDiv.classList.add("input-group");
            repsDiv.classList.add("mb-3");
            REPS_DIV.classList.add("col3");
          
            repsDiv.appendChild(repsIcon);
            repsDiv.appendChild(reps);

            var repsSpan = document.createElement("span");
            var repicon = document.createElement("i");
            repicon.classList.add("fa");
            repicon.classList.add("fa-fw");
            repicon.classList.add("fa-certificate");
            repsSpan.classList.add("input-group-text");
            repsSpan.appendChild(repicon);
            repsIcon.appendChild(repsSpan);
            REPS_DIV.appendChild(repsDiv);

            //SERIES DIV
            var SERIES_DIV = document.createElement("div");
            var seriesDiv = document.createElement("div");
            var seriesIcon = document.createElement("div");

            series.classList.add("form-control");
            seriesIcon.classList.add("input-group-prepend");
            seriesDiv.classList.add("input-group");
            seriesDiv.classList.add("mb-3");
            SERIES_DIV.classList.add("col3");
            
            seriesDiv.appendChild(seriesIcon);
            seriesDiv.appendChild(series);

            var seriesSpan = document.createElement("span");
            var sericon = document.createElement("i");
            sericon.classList.add("fa");
            sericon.classList.add("fa-fw");
            sericon.classList.add("fa-repeat");
            seriesSpan.classList.add("input-group-text");
            seriesSpan.appendChild(sericon);
            seriesIcon.appendChild(seriesSpan);

            SERIES_DIV.appendChild(seriesDiv);

             //time DIV
            var TIME_DIV = document.createElement("div");
            var timeDiv = document.createElement("div");
            var timeIcon = document.createElement("div");

            time.classList.add("form-control");
            timeIcon.classList.add("input-group-prepend");
            timeDiv.classList.add("input-group");
            timeDiv.classList.add("mb-3");
            TIME_DIV.classList.add("col3");
            
            timeDiv.appendChild(timeIcon);
            timeDiv.appendChild(time);

            var timeSpan = document.createElement("span");
            var ic = document.createElement("i");
            ic.classList.add("fa");
            ic.classList.add("fa-fw");
            ic.classList.add("fa-clock-o");
            timeSpan.classList.add("input-group-text");
            timeSpan.appendChild(ic);
            timeIcon.appendChild(timeSpan);
            TIME_DIV.appendChild(timeDiv);


            div.appendChild(SERIES_DIV);
            div.appendChild(REPS_DIV);
            div.appendChild(TIME_DIV);
            divField.appendChild(div);
            divExercise.appendChild(divIndex);
            divExercise.appendChild(divField);

            container.appendChild(divExercise);
            // Append a line break 
            exercises_number.value = number + 1;
        }
    </script>
<div class="schedule" >
  <%= form_with model: [ @schedule ] do |form| %>
      <% if @schedule.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
        <ul>
          <% @schedule.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
        
    <div class="field" style="display:none;" >
      <input type="text" name="user_id" id="user_id" value="<%= params[:user_id] %>">
      <input type="text" name="request_id" id="request_id" value="<%= params[:request_id] %>">
      <input type="text" name="exercises_number" id="exercises_number" value="0"/> 
    </div> 
    <br>
    <div class="col2-master">
      <div class="field col2max">
        <input type="text" id="description"style="width: 100%; height: 100px; text-align:top; border-radius: 20px; border-color:grey;" <%= form.text_area:description, placeholder:"Description" %>
      </div>
      <div class="actions col2min">
        <button class="button formButton addSchedule"<%= form.submit "Add schedule" %>Add schedule</button> 
      </div>
    </div>
    <br>
    <div id="container">
    </div>
    <div class="addExercise">
      <a href="#" id="addExercise" class="button formButton" onclick="addExercise()">Add new exercise</a>
    </div>
  <% end %>
  </div>