<h1>New schedule</h1>
<div class="schedule" >
  <%= form_with model: [ @schedule ] do |form| %>
      <% if @schedule.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

        <ul>
          <% @schedule.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <h3 style="font-family:'Trebuchet MS', Helvetica, sans-serif;">Leave a schedule!</h3>        
    <div class="field">
      <h8 style="display:none"<%= form.label :user_id, 'user_id' %></h8> <br>
      <input type="text" id="user_id" value="<%= params[:id] %>" <%= form.text_area:user_id %>
    </div>
    <div class="field">
      <h8 style="display:none"<%= form.label :description, 'description' %></h8> <br>
      <input type="text" id="description"  <%= form.text_area:description %>
    </div>

    <div class="actions">
      <button class="button formButton"<%= form.submit "Add schedule" %>Add schedule</button>
    </div>
  <% end %>
  </div>