<h1 style="font-family:'Trebuchet MS', Helvetica, sans-serif;">Requests</h1>

<p id="notice"><%= notice %></p>

<% if can? :create, Request %>
    <%= link_to 'Add a request', new_request_path, class:"button formButton" %>
<% end %>
<hr>


<div id ="requests">
<table border="1" cellpadding="10px" cellspacing="40px" align="center" width="90%" >
        <thead>
            <tr>
            <th>User</th>
            <th>Weight</th>
            <th>Targets</th>
            <th>Personal Trainer</th>
            <th>Date</th>
            <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <% @requests.each do |request| %>
              <% if current_user.admin? || current_user.id == request.user_id || (current_user.pt? && (current_user.id == request.pt_id || !request.pt_id?)) %>
                    <tr>
                        <td style="border: 1px solid">
                            <%= User.where(id:request.user_id).take.firstname %>
                            <%= User.where(id:request.user_id).take.lastname %>
                        </td>
                        <td style="border: 1px solid"><%= request.weight %></td>
                        <td style="border: 1px solid">
                            <% if request.abs? %>
                                abs 
                            <% end %>
                            <% if request.biceps? %>
                                biceps
                            <% end %>
                            <% if request.cardio? %>
                                cardio
                            <% end %>
                            <% if request.glutes? %>
                                glutes
                            <% end %>
                            <% if request.hamstrings? %>
                                hamstrings
                            <% end %>
                            <% if request.pectorals? %>
                                pectorals
                            <% end %>
                            <% if request.quads? %>
                                quads
                            <% end %>
                            <% if request.triceps? %>
                                triceps
                            <% end %>
                        </td>
                        <td style="border: 1px solid">
                            <% if request.pt_id? %>
                                <%= User.where(id:request.pt_id).take.firstname+' '+User.where(id:request.pt_id).take.lastname %>
                            <% else %>
                                All   
                            <% end %>
                        </td>
                        <td style="border: 1px solid">
                            <%= request.created_at %>
                        </td>
                        <td style="border: 1px solid">                            
                        <% if !request.done?%>
                            <% if can? :create,  Schedule %>
                                <a class="button"  href="/schedules/new?user_id= <%= request.user_id %>&request_id= <%= request.id %>">Make</a>    
                            <% end %>
                            <hr>
                            <%= button_to "Remove", request, method: :delete, class:"button" %>
                        <% else %>
                            <button type="button" class="btn btn-secondary btn" aria-disabled="true" disabled>Closed Request!</button>
                        <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>

<br>
