<div class="rev" >
    <%= form_with model: [ @request ] do |form| %>
        <% if @request.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

                <ul>
                <% @request.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        
        <h3 style="font-family:'Trebuchet MS', Helvetica, sans-serif;">New request</h3>        
        <div class="field">
            <h8 style="display:none"<%= form.label :age, 'age' %></h8> 
            <input style="width: 45%" type="text" class="formElement" placeholder="age" oninvalid="this.setCustomValidity('age cannot be blank')" required  <%= form.text_field:age %>
        </div>

        <div class="field">
            <h8 style="display:none"<%= form.label :weight, 'weight' %></h8> 
            <input style="width: 45%" type="text" class="formElement" placeholder="weight" oninvalid="this.setCustomValidity('weight cannot be blank')" required <%= form.text_field:weight %>
        </div>

        <div class="field">
            <h8 style="display:none"<%= form.label :height, 'height' %></h8> 
            <input style="width: 45%" type="text" class="formElement" placeholder="height"  oninvalid="this.setCustomValidity('height cannot be blank')" required <%= form.text_field:height %>
        </div>

        <hr>
        <div class="field">
            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;">Your target:</h8>
            <br>
            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;"<%= form.label :abs, "abs" %></h8>
            <%= form.check_box :abs %>

            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;"<%= form.label :biceps, "biceps" %>
            <%= form.check_box :biceps %>

            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;"<%= form.label :cardio, "cardio" %>
            <%= form.check_box :cardio %>

            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;"<%= form.label :glutes, "glutes" %>
            <%= form.check_box :glutes %>

            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;"<%= form.label :hamstrings, "hamstrings" %>
            <%= form.check_box :hamstrings %>

            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;"<%= form.label :pectorals, "pectorals" %>
            <%= form.check_box :pectorals %>

            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;"<%= form.label :quads, "quads" %>
            <%= form.check_box :quads %>

            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;"<%= form.label :triceps, "triceps" %>
            <%= form.check_box :triceps %>
        </div>

        <br>
        <div class="field">
            <h8 style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:18px;"<%= form.label :pt_id, 'Personal Trainer' %></h8> 
            <select class="form-control form-control-sm" style="width: 30%;margin: 0 auto; border-color: #f44336;"<%= form.select :pt_id, @personal_trainers.map { |personal_trainer| [personal_trainer.firstname+' '+personal_trainer.lastname, personal_trainer.id]}, {include_blank: true} %>
        </div>

        <div class="actions">
            <button class="button formButton"<%= form.submit "Add request" %>Submit request</button>
        </div>
        <br><br>
    <% end %>
  </div>
