<div class="rev" >
    <%= form_with model: [ @request ] do |form| %>
        <% if @request.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

                <ul>
                <% @request.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        
        <h3 style="font-family:'Trebuchet MS', Helvetica, sans-serif;">New request!</h3>        
        <div class="field">
            <h8 <%= form.label :age, 'age' %></h8> 
            <%= form.text_field:age %>
        </div>

        <div class="field">
            <h8 <%= form.label :weight, 'weight' %></h8> 
            <%= form.text_field:weight %>
        </div>

        <div class="field">
            <h8 <%= form.label :height, 'height' %></h8> 
            <%= form.text_field:height %>
        </div>

        <div class="field">
            Your target:
            <br/>
           <%= form.label :abs, "abs" %>
           <%= form.check_box :abs %>

           <%= form.label :biceps, "biceps" %>
           <%= form.check_box :biceps %>

           <%= form.label :cardio, "cardio" %>
           <%= form.check_box :cardio %>

           <%= form.label :glutes, "glutes" %>
           <%= form.check_box :glutes %>

           <%= form.label :hamstrings, "hamstrings" %>
           <%= form.check_box :hamstrings %>

           <%= form.label :pectorals, "pectorals" %>
           <%= form.check_box :pectorals %>

           <%= form.label :quads, "quads" %>
           <%= form.check_box :quads %>

           <%= form.label :triceps, "triceps" %>
           <%= form.check_box :triceps %>
        </div>

        <div class="field">
            <h8 <%= form.label :pt_id, 'Personal Trainer' %></h8> 
            <%= form.select :pt_id, @personal_trainers.map { |personal_trainer| [personal_trainer.firstname+' '+personal_trainer.lastname, personal_trainer.id]}, {include_blank: true} %>
            
        </div>

        <div class="actions">
            <button class="button formButton"<%= form.submit "Add request" %>Submit request</button>
        </div>
    <% end %>
  </div>
