
<div class="rev" >
  <%= form_with model: [ @review ] do |form| %>
      <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
          <% @review.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <h3 style="font-family:'Trebuchet MS', Helvetica, sans-serif;">Leave a review!</h3>        
    <div class="field">
      <h8 style="display:none"<%= form.label :body, 'Comment' %></h8> <br>
      <textarea id="body" cols="50" rows="2" style="width: 90%; height:200px; text-align:top;" oninvalid="this.setCustomValidity('body cannot be blank')" required <%= form.text_area :body %></textarea>
    <br>
    <div class="actions">
      <button class="button formButton"<%= form.submit "Add review" %>Add review</button>
    </div>
  <% end %>
  </div>