<!DOCTYPE html>
<html>
  <head>
    <title>Fitnet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/topnav.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
    <div class="row">
    <div id="navbar" class="topnav">
      <a class="navbar-brand" href="/"><img class="logo" <%= image_tag("/images/logo.png") %> </a>

      <% if user_signed_in? %>
        <a class="link <%= active_class(destroy_user_session_path) %>" <%= link_to "Logout", destroy_user_session_path,  data: { turbo_method: :delete } %></a>
      <% else %>
        <a class="link <%= active_class(new_user_registration_path) %>" <%= link_to "Sign Up", new_user_registration_path %></a>
        <a class="link <%= active_class(new_user_session_path) %>" <%= link_to "Log In", new_user_session_path %></a>
      <% end %>
      <a class="link <%= active_class(users_path) %>" <%= link_to "Our PTs", users_path %></a>
      <a class="link <%= active_class(reviews_path) %>" <%= link_to "About Us", reviews_path %></a>

      <% if user_signed_in? %>
        <a class="link <%= active_class(messages_path) %>" <%= link_to "Personal Area", messages_path %></a>
      <% end %>
    </div>
    <br>
    <br>
    </div>
    <!--sidebar-->
    <div class="row">
      <% if user_signed_in? %>
        <% if !current_page?(controller: '/home', action: 'index')%>
        <div class="col-3" >
          <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="sidebar">
            <a class="navbar-brand" href="#">
            <h4>
              <img alt="Logo" width="40" height="40" style="border-radius:45%" class="d-inline-block align-text-top"
                <% if current_user.provider == 'google_oauth2' && current_user.avatar_url %>
                  <%= image_tag(current_user.avatar_url) %>
                <% else %>
                  <% if current_user.avatar.attached? %>
                    <%= image_tag(current_user.avatar_thumbnail) %>
                  <% else %>
                    <%= image_tag("/images/no_avatar.png") %>
                  <% end %>
                <%end%>
              
              <%= current_user.firstname%> <%= current_user.lastname%>
            </h4>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <!-- USER AND PT LINK -->
              <% if !current_user.admin %>
                <li>
                  <a class="nav-link text-white <%= active_class(messages_path) %>" <%= link_to "Dashboard", messages_path %></a>
                  </a>
                </li>
                <li>
                  <a class="nav-link text-white <%= active_class(edit_user_registration_path) %>" <%= link_to "My profile", edit_user_registration_path%></a>
                  </a>
                </li>
                <li>
                  <a class="nav-link text-white <%= active_class(requests_path) %>" <%= link_to "My Requests", requests_path %></a>
                  </a>
                </li>
                <li>
                  <a class="nav-link text-white <%= active_class(schedules_path) %>" <%= link_to "My Schedules", schedules_path %></a>
                  </a>
                </li>
                <% if can? :create, Review %>
                <li>
                  <a class="nav-link text-white <%= active_class(new_review_path) %>" <%= link_to "Add a review", new_review_path %></a>
                  </a>
                </li>
                <% end %>
              <% else %>
                <!-- ADMIN LINK -->
                <li>
                  <a class="nav-link text-white <%= active_class(edit_user_registration_path) %>" <%= link_to "My profile", edit_user_registration_path%></a>
                  </a>
                </li>
                <li>
                  <a class="nav-link text-white <%= active_class(messages_path) %>" <%= link_to "Messages", messages_path %></a>
                  </a>
                </li>
                <li>
                  <a class="nav-link text-white <%= active_class(users_path) %>" <%= link_to "Personal Trainers & Users", users_path %></a>
                  </a>
                </li>
                <li>
                  <a class="nav-link text-white <%= active_class(requests_path) %>" <%= link_to "Requests", requests_path %></a>
                  </a>
                </li>
                <li>
                  <a class="nav-link text-white <%= active_class(schedules_path) %>" <%= link_to "Workout Schedules", schedules_path %></a>
                  </a>
                </li>
              <% end %>
            </ul>
            <hr>
          </div>
        </div> <!--col-3-->
        <% end %>
      <% end %>
      <div class="col">
        <%= yield %>
      </div>
    </div> <!--row-->
  </div> <!--container-->
  </body>
</html>